---
import BaseLayout from "../../layouts/base-layout.astro";
---

<BaseLayout>
  <h1>About</h1>
  <p>
    Dynamic and results-driven Producer with a passion for delivering innovative
    digital content and cutting-edge software applications on a global scale.
  </p>
  <p>
    With extensive experience in scoping and managing large-scale projects, I
    excel at leading cross-functional teams, combining creative vision with
    technical expertise to deliver exceptional native apps, web builds,
    immersive games, videos, and engaging animated content.
  </p>
  <p>
    Adept at managing high-stakes projects in fast-paced, complex environments,
    I thrive under pressure and always aim to exceed expectations.
  </p>
</BaseLayout>
