---
const Metadata = {
  title: "Ryan Bullock - Digital Producer",
  description:
    "Dynamic and results-driven Producer with a passion for delivering innovative digital content and cutting-edge software applications on a global scale.",
};
---

<meta name="description" content={Metadata.description} />
<title>{Metadata.title}</title>
