<aside>
  <h1>
    <a href="/">Ryan Bullock</a>
  </h1>
  <p>Digital Producer</p>
  <nav>
    <ul>
      <a href="/about">About</a>
      <a href="/">Work</a>
      <a href="/contact">Contact</a>
    </ul>
  </nav>
</aside>
