<ul>
  <li>
    <a href="/work/animation">
      <span>Animation</span>
    </a>
  </li>
  <li>
    <a href="/work/web">
      <span>Web</span>
    </a>
  </li>
  <li>
    <a href="/work/video">
      <span>Video</span>
    </a>
  </li>
  <li>
    <a href="/work/digital">
      <span>Digital</span>
    </a>
  </li>
</ul>

<style>
  ul {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    gap: 1rem;

    margin: 0;
    padding: 0;

    list-style-type: none;

    @media (width < 768px) {
      padding-block-start: 2rem;

      li {
        aspect-ratio: 1;
      }
    }

    @media (width >= 768px) {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
    }

    @media (width >= 1128px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    li {
      background: black;
      text-transform: uppercase;

      a {
        color: white;
        text-decoration: none;
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
</style>
